


.header-style-1 .header-nav {
    background: #689F38 none repeat scroll 0 0;
}

.main-header .top-search-holder .search-area .categories-filter {
    background: #FFFFFF none repeat scroll 0 0;

}

.main-header .top-search-holder .search-area {
    border: 3px solid #DCEDC8;
    border-radius: 3px;
    margin: 8px 0 0;
}
.main-header .top-search-holder .search-area .search-button {
    background: #dcedc8 none repeat scroll 0 0;
    border-radius:0px;
    display: inline-block;
    float: right;
    margin: 0;
    padding: 13px 19px 13px;
    text-align: center;
}
.main-header .top-search-holder .search-area .search-button::after {
    color: #FFC107;
    font-size: 25px;
}
.top-bar {
   display: none;
}
.main-header {
    padding:70px 0;

}

/*cart */
.top-cart-row .dropdown-cart .lnk-cart {
    border: 3px solid #FFC107;
    border-radius: 3px;
    color: #666666;
    display: inline-block;
    padding: 0;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .basket {
    background: #FFC107 none repeat scroll 0 0;
    border-left: 1px solid #e1e1e1;
    float: right;
    padding: 13px 15px;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .basket > i {
    color: #FFFFFF;
    font-size: 13px;
}

.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .basket-item-count {
    background: #FFC107 none repeat scroll 0 0;
    border-radius: 100px;
    color: #fff;
    font-size: 14px;
    height: 21px;
    text-align: center;
    top: -13px;
    width: 21px;
}

